{% form_theme form '@OwlUi/Form/imagesTheme.html.twig' %}

<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'owl.ui.general_info'|trans }}</h4>
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'owl.ui.permissions'|trans }}</h4>
            <div class="field">
                {{ form_row(form.role) }}
            </div>
            <div class="field">
                {{ form_row(form.company) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'owl.ui.additional_information'|trans }}</h4>
            <div class="two fields">
                {{ form_row(form.displayName) }}
                {{ form_row(form.phone) }}
            </div>
            <div class="two fields">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.note) }}
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'owl.ui.preferences'|trans }}</h4>
            {{ form_row(form.localeCode) }}
        </div>
    </div>
</div>
