{% set tab = configuration.vars.tab|default('details') %}

<div class="ui pointing menu">
  <a class="{% if tab == 'details' %}active {% endif %}item" href="{{ path('owl_admin_company_show_details', {'id': company.id}) }}">
    {{ 'owl.ui.details'|trans }}
  </a>
  <a class="{% if tab == 'location' %}active {% endif %}item" href="{{ path('owl_admin_company_show_location_index', {'id': company.id}) }}">
    {{ 'owl.ui.locations'|trans }}
  </a>
  <a class="{% if tab == 'equipment' %}active {% endif %}item" href="{{ path('owl_admin_company_show_equipment_index', {'id': company.id}) }}">
    {{ 'owl.ui.equipments'|trans }}
  </a>
  <a class="{% if tab == 'user' %}active {% endif %}item" href="{{ path('owl_admin_company_show_user_index', {'id': company.id}) }}">
    {{ 'owl.ui.users'|trans }}
  </a>
</div>
{{ sylius_template_event(['owl.admin.company.show.tab_'~ tab ], _context) }}
