<div class="ui hidden divider"></div>
<div id="details">
    <h4 class="ui top attached large header">{{ 'owl.ui.details'|trans }}</h4>
    <div class="ui attached segment">
        <div>
            <table class="ui very basic celled table">
                <tbody>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.form.common.subject'|trans }}</strong></td>
                    <td>{{ notification.subject }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.form.common.description'|trans }}</strong></td>
                    <td>{{ notification.description|raw }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.form.common.date_issue'|trans }}</strong></td>
                    <td>{{ notification.dateIssue|format_date }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.form.notification.current_from'|trans }}</strong></td>
                    <td>{{ notification.currentFrom|format_date }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.form.notification.current_to'|trans }}</strong></td>
                    <td>{{ notification.currentTo|format_date }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.ui.date_created'|trans }}</strong></td>
                    <td>{{ notification.createdAt|format_datetime }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'owl.ui.date_updated'|trans }}</strong></td>
                    <td>{{ notification.updatedAt|format_datetime }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>