{# {% 
    set index_url = path(
        configuration.vars.index.route.name|default(configuration.getRouteName('index')),
        configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
    )
%} #}
{% 
    set index_url = configuration.vars.referer_url
%}
{% set classes = ['ui', 'loadable', 'form'] %}
{% if configuration.vars.form.ajax is defined  %}
    {%- set classes = configuration.vars.form.ajax == true ? classes|merge(['is-modal-ajax']) : classes %}
{% else %}
    {%- set classes = classes|merge(['is-modal-ajax']) %}
{% endif %}

<div class="content">
    {{ form_start(form, {'action': path(configuration.getRouteName('update'), configuration.vars.route.parameters|default({ 'id': resource.id })), 'attr': {'class': classes|join(' '), 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT" />
    {% include '@OwlAdmin/Crud/form_validation_errors_checker.html.twig' %}
    {% if configuration.vars.templates.form is defined %}
        {% include configuration.vars.templates.form %}
        {% if not form._token.isRendered %}
            {{ form_row(form._token) }}
        {% endif %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

    {{ sylius_template_event([event_prefix ~ '.form', 'sylius.admin.update.form'], {'metadata': metadata, 'resource': resource, 'form': form}) }}

    {{ form_end(form, {'render_rest': false}) }}
</div>

<div class="actions">
    {% include '@OwlUi/Form/Buttons/_update.html.twig' with {'actions': configuration.vars.form.actions|default(owl_form.actions), 'isAjax': true} %}
</div>


