<div class="fields">
    <div class="twelve wide field">
        {{ form_row(form.subject) }}
    </div>
    <div class="four wide field">
        {{ form_row(form.dateIssue) }}
    </div>
</div>
<div class="three fields">
    {{ form_row(form.currentFrom) }}
    {{ form_row(form.currentTo) }}
    {{ form_row(form.assignedGroup) }}
</div>
<div class="field">
    {{ form_row(form.description) }}
</div>
