<div class="ui two column grid">
    <div class="column">
        {{ form_row(form.name) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
        {{ form_row(form.postCode) }}
        {{ form_row(form.nip) }}
        {{ form_row(form.phone) }}
    </div>
    <div class="column">
        {{ form_row(form.email) }}
        {{ form_row(form.trade) }}
        {{ form_row(form.contactPerson) }}
        {{ form_row(form.description) }}
        {{ form_row(form.comments) }}
    </div>
</div>