<table class="ui very basic celled table">
    <tbody>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.company_which_account_was_registered'|trans }}</strong></td>
        <td>{{ resource.registration.company}}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.nip'|trans }}</strong></td>
        <td>{{ resource.registration.nip}}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.city'|trans }}</strong></td>
        <td>{{ resource.registration.city}}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.street'|trans }}</strong></td>
        <td>{{ resource.registration.street}}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.post_code'|trans }}</strong></td>
        <td>{{ resource.registration.postCode}}</td>
    </tr>
    </tbody>
</table>