<table class="ui very basic celled table">
    <tbody>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.first_name'|trans }}</strong></td>
        <td>{{ resource.registration.firstName }}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.last_name'|trans }}</strong></td>
        <td>{{ resource.registration.lastName }}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.phone'|trans }}</strong></td>
        <td>{{ resource.registration.phone }}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'owl.ui.email'|trans }}</strong></td>
        <td>{{ resource.registration.email }}</td>
    </tr>
    </tbody>
</table>