{% extends 'knp_menu.html.twig' %}

{% block list %}
<div class="ui pointing menu">
    {% for item in item.children %}
        {{ block('item') }}
    {% endfor %}
</div>

{{ sylius_template_event(['owl.admin.equipment.show.tab_'~ options.activeTab ], options.context) }}

{% endblock %}

{% block item %}
    {%- set attributes = item.attributes %}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if options.activeTab == item.name %}
        {%- set classes = classes|merge(['active']) %}
    {%- endif %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
    <a 
        class="item{% if attributes.class is defined %} {{ attributes.class }}{% endif %}" 
        data-tab="{{ item.name }}"
        href="{{ path(attributes.route.path, attributes.route.params) }}"
    >
        {{ item.label|trans }}
    </a>
{% endblock %}
