{% import '@OwlAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

{% extends '@OwlAdmin/layout.html.twig' %}

{% form_theme form '@OwlAdmin/Form/theme.html.twig' %}

{% block title %}{{ 'owl.ui.update_profile'|trans }} {{ parent() }}{% endblock %}

{% set breadcrumbs = [
    { label: 'owl.ui.administration'|trans, url: path('owl_admin_dashboard') },
    { label: 'owl.ui.users'|trans, url: path('owl_admin_admin_user_index') },
    { label: admin_user.displayName }
] %}

{% block content %}
    {% set breadcrumbs = [
        { label: 'owl.ui.administration'|trans, url: path('owl_admin_dashboard') },
        { label: 'owl.ui.update_profile'|trans }
    ] %}

    {{ breadcrumb.crumble(breadcrumbs) }}
    <div class="ui grid center aligned" style="margin-top: 50px;">
        <div class="eight wide column">
            <div class="ui segment left aligned">
                {{ form_start(form, {'action': path('owl_admin_profile_update'), 'attr': {'class': 'ui loadable form is-ajax', 'novalidate': 'novalidate'}}) }}
                <h1 class="ui dividing header center aligned" style="margin-bottom: 20px; padding-bottom: 1rem;">
                    {{ 'owl.ui.your_profile'|trans }}
                    <div class="sub header">{{ 'owl.ui.edit_your_personal_information'|trans }}</div>
                </h1>

                {{ sylius_template_event('owl.admin.account.profile.update.after_content_header', {'admin_user': admin_user, 'form': form}) }}

                <input type="hidden" name="_method" value="PUT" />

                <div class="two fields">
                    <div class="field">{{ form_row(form.firstName) }}</div>
                    <div class="field">{{ form_row(form.lastName) }}</div>
                </div>

                <div class="two fields">
                    <div class="field">{{ form_row(form.phone) }}</div>
                    {{ form_row(form.localeCode) }}
                </div>

                <div class="two fields">
                    {{ form_row(form.plainPassword) }}
                </div>

                {{ sylius_template_event('owl.admin.account.profile.update.form', {'admin_user': admin_user, 'form': form}) }}

                <div style="display: flex; justify-content: center;">
                <button type="submit" class="ui large primary button save-action" name="save_action" value="referer">
                    {{ 'owl.ui.save_changes'|trans }}
                </button>
                </div>
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
