{% extends '@OwlUi/Layout/centered.html.twig' %}

{% form_theme form '@OwlAdmin/Form/theme.html.twig' %}

{% block title %}{{ 'owl.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.admin.layout.javascripts') }}
{% endblock %}

{% block content %}
    <div class="ui middle aligned centered grid aligned ">
        <div class="column">
            <h1 class="ui header">
                <i class="circular lock icon"></i>
                <div class="content">
                    {{ 'owl.ui.reset_password'|trans }}
                    <div class="sub header">{{ 'owl.ui.set_a_new_password_for_your_account'|trans }}</div>
                </div>
            </h1>
            <div class="ui segment">
                {{ form_start(form, {'action': path('owl_admin_password_reset', {'token' : user.passwordResetToken}), 'attr': {'class': 'ui large loadable form is-ajax', 'novalidate': 'novalidate'}}) }}
                {{ form_row(form.password.first, sylius_test_form_attribute('password-reset-new')|merge({'label': 'sylius.form.user_reset_password.new'|trans})) }}
                {{ form_row(form.password.second, sylius_test_form_attribute('password-reset-confirmation')|merge({'label': 'sylius.form.user_reset_password.confirmation'|trans})) }}
                {{ form_row(form._token) }}
                <button type="submit" class="ui fluid large primary submit button save-action" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                    {{ 'owl.ui.reset_button'|trans }}
                </button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
